



body {
  font-family:fantasy;

  height:100%;
  color: white;
}

.head{
  text-align: center;

}


h2{

  font-size: 1000%;
}
.profile{

  margin-left: 41%;

}


body {
    background-image: url("logos/backgrounds.jpg");
}

/*a:hover {background-color: blue:

}*/

.img-circle {
    border-radius: 50%;
    width: 250px;
    height: 200px;
    border:0;
}

ul{
  display: inline;
    /*width: 100px;*/
    padding: 100px;
}



.row
{
    bottom: 0;
    border-style: none;
    display: table;
    width: 100%;
    height: auto;
    table-layout: fixed;
    font-weight: bold;
    /*border-spacing: 10px;*/
}
.column
{
  list-style: none;
  position:relative;
  text-align: center;
  color:#80ccff;


    display: table-cell;
    /*background-color: #d9d9d9;*/
}

#bio{
  font-style: italic;
  font-size: 14px;
  color:#f2f2f2;
}

li{
  list-style: none;
  display:inline;
}
.logos{
  list-style: none;
  display: inline;
  width:42px;
  height:42px;
  border:10px;
  padding: 20px;

}

#email{
  color: #66ff99;
  font-size: 22px;
}
